*.apk
*.aar
*.ap_
*.aab
*.dex
*.class

bin/
gen/
out/

.gradle/
build/
local.properties

*.log

# Android Studio
.navigation/
captures/
*.iml
.idea
.externalNativeBuild
.cxx/

*.hprof

# Cordova plugins for Capacitor
capacitor-cordova-android-plugins

# Copied web assets
app/src/main/assets/public

# Generated Config files
app/src/main/assets/capacitor.config.json
app/src/main/assets/capacitor.plugins.json
app/src/main/res/xml/config.xml
